.nav_side
  ul.nav_side__list
    li(class="#{info}")
      a(href="02_01_Info.html") 概要／ルール
    li(class="#{member}")
      a(href="02_02_Member.html") 参加者一覧
    li(class="#{taisen}")
      a(href="02_03_Taisen.html") 対戦表
    li(class="#{uketsuke}")
      a(href="02_04_Uketsuke_01.html") 参加受付
    li(class="#{check}")
      a(href="02_05_Check_01.html") チェックイン
    li(class="#{kekka}")
      a(href="02_06_Kekka_01.html") 結果報告