.nav_scroll
  .nav_scroll__mask
    ul.nav_scroll__mask__inner
      li.nav_scroll__mask__inner__link(class="#{info}")
        a(href="m_02_01_Info.html") 概要／ルール
      li.nav_scroll__mask__inner__link(class="#{member}")
        a(href="m_02_02_Member.html") 参加者一覧
      li.nav_scroll__mask__inner__link(class="#{taisen}")
        a(href="m_02_03_Taisen.html") 対戦表
      li.nav_scroll__mask__inner__link(class="#{uketsuke}")
        a(href="m_02_04_Uketsuke_01.html") 参加受付
      li.nav_scroll__mask__inner__link(class="#{check}")
        a(href="m_02_05_Check_01.html") チェックイン
      li.nav_scroll__mask__inner__link(class="#{kekka}")
        a(href="m_02_06_Kekka_01.html") 結果報告